html,body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overscroll-behavior: none;
}

#app{
  width: 100%;
  height: 100%;
  display: flex;
}

.multiline>*{
  display: block;
  margin: auto;
  margin-top: 0.2rem;
}

.screen{
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.content{
  flex: 1;
  overflow-y: auto;
  width: 100%;
}
.warnung-note{
  color: red;
}
.warnung-note::after{
  display: inline-block;
  width: 1rem;
  text-align: center;
  content: "!";
  border: 1.5pt solid red;
  font-size: 80%;
  font-weight: bold;
  border-radius: 100%;
  margin-left: 0.2rem;
}
.error{
  color: red;
}

.p-card .p-card-content{
  padding: 0;
}

.flex-container-row{
  display: flex;
}

.flex{
  flex: 1;
}

.full-size{
  width: 100vw;
  height: 100vh;
}

.p-datatable-small td,.p-datatable-small th{
  padding: 0.2rem;
}

.p-datatable .p-column-header-content{
  display: block;
}